<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="dbconnection" value="data source=SERVER216-248\SQLEXPRESS;initial catalog=sweetbook;Connect Timeout=60;Integrated Security=SSPI" />
  </appSettings>
</configuration>
